body{
    font-family:'Emblema One', cursive;
    margin: 0%;

}
h1{
    font-size: 55px;
}
h2{
    font-size: 45px;
}
.name-highlight{
    color: rgb(255, 0, 85);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding: 1%;
}
img{
    width: 100%;
}
.top-banner{
    background-image:url("developer-portfolio/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, rgb(250, 7, 120));
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}
.dreem{
    color: rgb(247, 76, 8);   
}
.dreem-area{
    background-image: url(developer-portfolio/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dev-ex{
    font-size: 30px;
}
.single-exp{
    box-shadow: 10px 10px 50px rgb(95, 94, 95);
    border-radius: 10px;
    background-color: white;
    
}
.experience{
    background-image: url(developer-portfolio/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-strack{
    border-left: 5px solid rgb(14, 13, 13);
}
#baby{
    border-left: rgb(15, 14, 12) 5px solid
} 
footer p{
    text-align: center;
    font-size: 15px;
}